
#main {
	display: flex;
	flex-direction: column;

	& .on {
		color: green;
	}

	& .off {
		color: red;
	}
}

#main > .info {
	padding: 0.75em;
	flex-shrink: 0;
}

#main > .info {
	background: #eee;

	& > div {
		display: inline-block;
		margin-left: 1em;

		&:first-child {
			margin-left: 0;
		}

		& > * {
			vertical-align: middle;
			margin-left: 0.3em;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

#main > .body {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;

	& > * {
		margin: 0.5em;
	}

	& .label {
		margin-bottom: 0;
		font-size: 0.8em;

		color: #444;
	}

	& .flex {
		display: flex;

		& > * {
			margin-left: 1em;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	& #title {
		flex: 2;
	}
	& #game {
		flex: 1;
	}

	& .full {
		margin-top: 0;
		display: flex;

		& > input {
			flex: 9;
		}

		& > * {
			margin-left: 0.3em;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
