
html,
body {
	width: 100%;
	height: 100%;

	overflow: hidden;
}

html {
}

body {
	position: relative;
	margin: 0;

	font-size: 16px;
}

.logo {
	position: absolute;
	margin: auto;
	left: 0.25em;
	bottom: 0.25em;
	/*width: 12%;*/
	height: 3em;
}

.bar {
	position: absolute;
	margin: auto;
	left: -1em;
	right: -1em;
	bottom: 0;

	height: 40px;

	background: #333;
	font-family: 'Nunito', cursive;

	box-shadow: 0 0 8px rgba(0,0,0,0.35);
}

.bar div {
	line-height: 40px;

	color: #59d;
	text-shadow: 0 0 4px rgba(0,0,0,0.95);

	font-size: 28px;
	margin: 0 3em;
}