
html,
body {
	width: 100%;
	height: 100%;
}

html {
}

body {
	position: relative;
	margin: 0;

	font-size: 16px;
}


@keyframes parent {
    0%		{left: -8em;}
    100%	{left: 0.5em;}
}

.parent {
	position: absolute;
	margin: auto;
	left: 0.5em;
	bottom: 0.5em;

	animation-name: parent;
	animation-duration: 1.75s;
}

@keyframes logo {
    0%   {transform: rotate(0deg); opacity: 0.65;}
    0.2%  {transform: rotate(-10deg); opacity: 1;}
    0.4%  {transform: rotate(10deg); opacity: 1;}
    0.6%  {transform: rotate(0deg); opacity: 0.65;}
}

.logo {
	height: 5em;

	transform: rotate(0deg);
	opacity: 0.65;

	animation-name: logo;
	animation-duration: 500s;	/* every ~9 minutes */
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.25,0,0.5,1.25);
}
