[submodule "external/3rd-party/preact"]
	path = external/3rd-party/preact
	url = https://github.com/developit/preact.git
	branch = master
	shallow = true
[submodule "external/carton"]
	path = external/carton
	url = https://github.com/mikekasprzak/carton.git
	branch = master
	shallow = true
[submodule "external/ldui"]
	path = external/ui
	url = https://github.com/mikekasprzak/ldui.git
	branch = master
	shallow = true
[submodule "external/hashbang"]
	path = external/hashbang
	url = https://github.com/mikekasprzak/hashbang.git
	shallow = true
[submodule "external/svgload"]
	path = external/svgload
	url = https://github.com/mikekasprzak/svgload.git
	shallow = true
[submodule "external/shallow"]
	path = external/shallow
	url = https://github.com/mikekasprzak/shallow.git
	shallow = true

