[submodule "external/preact"]
	path = external/preact
	url = https://github.com/developit/preact.git
	shallow = true
[submodule "external/carton"]
	path = external/carton
	url = https://github.com/mikekasprzak/carton.git
	shallow = true
[submodule "external/ldui"]
	path = external/ldui
	url = https://github.com/mikekasprzak/ldui.git
	shallow = true
