
#chat {
	display: flex;
	flex-direction: column;

	font-family: sans-serif;
}

#chat > .info,
#chat > .reply {
	margin: 0.75em;
	flex-shrink: 0;
}

#chat > .info {
	& .on {
		color: green;
	}

	& .off {
		color: red;
	}
}

#chat > .feed {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;

	& > .item {
		margin: 0.25em;
		line-height: 1.4em;

		& > .name {
			font-weight: bold;
		}

		& > .text {

		}
	}
}

#chat > .reply {
}
