
#chat > .info {
	margin: 0.5em;

	& .on {
		color: green;
	}

	& .off {
		color: red;
	}
}

#chat > .feed {
	border: 1px solid black;

	& > .item {
		margin: 0.5em;

		& > .name {
			font-weight: bold;
		}

		& > .text {

		}
	}
}

#chat > .reply {
}
