/* #000000 - Black */
/* #FFFFFF - White */
/* #68372B - Red */
/* #70A4B2 - Cyan */
/* #6F3D86 - Purple */
/* #588D43 - Dark Green */
/* #352879 - Dark Blue */
/* #B8C76F - Yellow */
/* #6F4F25 - Brown */
/* #433900 - Dark Brown */
/* #9A6759 - Light Red (Skin) */
/* #444444 - Dark Gray */
/* #6C6C6C - Middle Gray */
/* #9AD284 - Light Green (Lime) */
/* #6C5EB5 - Light Blue */
/* #959595 - Light Gray */

@font-face {
	font-family: "C64";
	src: url("../common/font/C64_Pro-STYLE.woff") format("woff");
}
@font-face {
	font-family: "C64 Mono";
	src: url("../common/font/C64_Pro_Mono-STYLE.woff") format("woff");
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;

	margin: 0;
	position: relative;

	font-family: 'C64', sans-serif;
	font-size: 16px;
}


.border {
	position: fixed;
	left: 0;
	top: 0;
}

.title {
	position: fixed;
	left: 2.25em;
	top: 0.55em;

	font-size: 2em;

	color: #fff;
}

.avatar {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;

	width: 64px;
}

.notes {
	position: fixed;
	left: 64em;
	top: 1em;

	color: #fff;
}

.notes .h1 {
	color: #6bc1c8;
}
.notes .h2 {
	color: #aeaeae;
}

.page {
	position: fixed;
	left: 64em;
	top: 43em;

	color: #6bc1c8;
}